.anecdote-form__title{
  margin-bottom: 0.5rem;
}

.anecdote-form{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.anecdote-form__input{
  min-inline-size: 10rem;
}

.form__submit{
  cursor: pointer;
  background-color: var(--background-color-2);
  border: 2px solid var(--border-1);
  border-radius: 1rem;
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
}

.form__submit:hover,
.form__submit:focus-visible{
  cursor: pointer;
  background-color: var(--background-color-3);
  border-color: var(--border-2);
}